form{
    padding: 6%;
}
  
::ng-deep mat-form-field{
    width: 100%;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  
.example-radio-button {
    margin: 5px;
}