ion-button{
    --border-radius	: 50%;
    --padding-end : 5px;
    --padding-start : 5px;
}

.bg{
    background: #f6f6f6;
}

.normal{
    background-color: #ffffff;
}

.prim{
    background-color: var(--ion-color-primary);
}

.footer-col2{
    padding: 4% 0%;
    text-align: center;
}

table {
    width: 100%;
}